/* =========================== Junta-te Ã s novidades mais veggie section end ===========================  */



.news-wall {
    background-color: var(--second-color);
    position: relative;
}

.news-wall h2{
    color: red;
    font-weight: 900;
    text-align: center;
    padding-top: 55px;
    text-transform: uppercase;
}
.news-wall h3{
    color: #000;
    font-weight:3900;
    text-align: center;
    padding-bottom: 32px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Tungsten Rounded medium';
}


.news-wall .newsletter-form input.input-box,
.news-wall .newsletter-form textarea.input-box {
    background-color: transparent;
    border: #616161;
    border-radius: 0;
    color: purple;
    font-size: 20px;
    padding: 15px auto 15px auto !important;
    height: 50px !important;
    border-bottom: 1px solid #000;
    transition: .8s all;
}

.news-wall .newsletter-form input.input-box:focus,
.news-wall .newsletter-form textarea.input-box:focus {
    background-color: #fff;
    color: var(--second-color);
}

.news-wall .newsletter-form .rm-border:focus {
    border-color: purple;
    -webkit-box-shadow: none;
    box-shadow: none
    border-style:solid;
    border-width:medium;
}

.news-wall .newsletter-form form .form-control::-webkit-input-placeholder {
    color: #9E9E9E;
}

::-moz-placeholder {
    color: purple !important
}

.news-wall .newsletter-form input.btn-black {
    background-color: #000000;
    color: #f00075;
    font-weight: bold;
    height: 50px
}

.newsletter-form .acceptance p{
    color: #5C5C5C;
    font-size: 16px;
    padding-left: 10px;

}



/*button*/

.newsletter-form .new-l-btn {
    width: 150px;
    font-size: 1.8rem;
    font-family: 'Tungsten Rounded';
    text-decoration: none;
    color: #fff;
    border-radius: 28px;
    letter-spacing: 2px;
    transition: .4 all;
    margin: auto;
    border:none;
    background-color: red;
}

.newsletter-form .new-l-btn:hover {
   background-color: purple;
}

/* =========================== Junta-te Ã s novidades mais veggiesection end ===========================  */