/* ---------------------------------------------------
    Checkout page
----------------------------------------------------- */
.price_slider{
    margin-bottom: 1em;
}
.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}
.price_slider_amount .button {
    font-size:1.15em;
}
.price_slider_amount .button {
    float: left;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}
.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #FF6B6B;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}
.ui-slider-horizontal {
    height:.5em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

/* ---------------------------------------------------
    Single Page
----------------------------------------------------- */
.single .quantity input::-webkit-outer-spin-button,
.single .quantity input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.single .quantity input[type=number] {
    border: unset;
    outline: unset;
    background: unset;
    -moz-appearance: textfield;
}
.basketbox{
    display:flex;
    gap:10px;
    justify-content:center;
    flex-wrap: wrap;
}
.basketbox li{
    list-style:none;
    font-size:18px;

}
.basketbox li::after{
    content:" | ";
    color:#fff;
    font-size:30px;
    vertical-align: sub;
    font-weight:100;

}
.basketbox li:last-child::after{
    content:'';
}
.basketbox li a{
    text-decoration:none;
    color: var(--yellow);
}
.basketbox li a:hover{
    opacity:0.7;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    text-align:center;
}

/* ---------------------------------------------------
    Cart Page
----------------------------------------------------- */

.product-quantity .quantity span{
    display:none;
}

.otalhante h2::first-letter,.ocharcuteiro h2::first-letter{
    border-bottom: unset;
}

.navcolor{
    background-color:var(--red-color);
}
ins{
    text-decoration: none;
}

/* ---------------------------------------------------
    Home Page
----------------------------------------------------- */

.product__price p del{
    font-family: 'Tungsten Rounded light';
}
.product__price p ins span,.product__price p ins span bdi{
    color:#fff;

}
.product__price p ins span{
    margin-left:5px;
}
.product-list .product__price p{
    color:#fff;
}
.home del .woocommerce-Price-amount.amount{
    color:#fff;
}
.added_to_cart,.woocommerce ul.products li.product .button{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 3px 22px !important;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: 0.4s;
    line-height: 39px;
    transition-timing-function: linear;
    font-family: 'Tungsten Rounded semibold';
    text-decoration:none;
}
.added_to_cart:hover,.woocommerce ul.products li.product .button:hover{
    text-decoration:none;
    background-color: #fff;
    color: var(--red-color);

}
.add_to_cart_button.added{
    display:none!important;
}
.woocommerce span.onsale{
    background-color:var(--yellow);
    width: 150px;
    border-radius: 39px;
    font-family: 'Tungsten Rounded medium';
    font-size: 1.9rem;
    text-transform: uppercase;
    left:unset;
    top: 26px !important;
    min-height: 4rem;
    line-height: 4rem;
    padding: unset;
    right: 0;

}



.woocommerce-cart .woocommerce-Price-amount.amount {
    color:#000;
}

.woocommerce-order-received .woocommerce-Price-amount.amount{
    color:#000;
}

.woocommerce-order-received h2{
    font-size: 2.2rem;
}

.woocommerce ul.products li.product .price del{
    color:#fff;
    opacity:1;
    font-size:1.8rem;
    color:#000;
    font-weight:100;
    font-family: 'Tungsten Rounded light';
}
.woocommerce ul.products li.product .price ins span, .woocommerce-Price-amount.amount{
    color:#fff;
    font-size:1.8rem;
    margin-left:5px;
    font-family: 'Tungsten Rounded medium';
    font-weight:bold;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
    font-size:2.3rem !important;
    font-family: 'Tungsten Rounded medium';
    color: #fff;
}
.single .woocommerce-Price-amount.amount{
    color:var(--red);
    font-size:1.8rem;
    margin-left:5px;
    font-family: 'Tungsten Rounded medium';
    font-weight:bold;
}
.single ins .woocommerce-Price-amount.amount {
    color:var(--yellow);
}
.woocommerce .related ul.products li.product .price ins span{
    color: var(--purple-color);
}
.single .related .woocommerce-Price-amount.amount{
    color:var(--purple-color);
}
.woocommerce div.product form.cart .button{
    margin-top:20px;
}
.content-area{
    margin-bottom:0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
    padding:unset !important;
}

.woocommerce nav.woocommerce-pagination{
    padding-bottom: 29px;
}
ul.products li.product:hover a button{
    transform:unset;
}
@media screen and (max-width: 993px){
    .dt-wc-sidebar-collapse .sidebar-right .sidebar .sidebar-content, .dt-wc-sidebar-collapse .sidebar-left .sidebar .sidebar-content {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
        padding: 30px;
    }
}
/*****************Sidebar*************************/
.filtros {
    display: none;
}

/*******************checkout*********************/
.woocommerce-checkout #payment {
    background: #f9b600;
    border-radius: 5px;
}
.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
    display: inline;
    font-family: inherit;
    font-size: 16px;
    text-transform: unset;
}
/******************Search***********************/
.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{
    height:51px;
    border-radius:5rem;
}
.search-wrapper{
    position: absolute;
    right: 64px;
    top: -18px;
    display:none;
}
.dgwt-wcas-suggestions-wrapp{
    margin-top:5px;
    border-radius:15px;
}
.dgwt-wcas-open .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input{
    border-radius:5rem;
}


.woocommerce-checkout-payment img{
	height: auto;
max-width: 80px;
width: 100%;
}

@media (max-width: 575.98px) {

	.related ul {
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
	}
	
	.woocommerce-page table.cart td.actions .coupon .button {
		width:90%;
        float: unset !important
	}
	.woocommerce-page table.cart td.actions .button{
		width:90%;
		margin:auto;
	}
	
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width:90%;
		max-width:unset;
	}


}

/********************Shop page **************************/

.cat_shop .price del span{
    color:#212529;
    opacity:0.7;
}
.cat_shop .price ins span,.cat_shop .price span,.cat_shop .woocommerce-loop-product__title{
    color:#212529 !important;
}
